form{
    width:340px;
    margin:50px auto;
    padding:20px 10px 25px;
    background:lightgreen;
    box-sizing:border-box;
    border-radius:10px;
}
input[type="text"]{
    text-align:center;
    margin-left:10px;
    font-size: 35px;
    padding:30px 40px;
    width:300px;
    border-radius:10px;
    border:2px solid lightgray;
    font-weight: bold;
    color:lightgrey;
    box-shadow: 5px 0px 5px lightblue , -5px 0px 5px lightblue;
}
input[type="button"]{
    border:2px solid white;
    border-radius:10px;
    text-align: center;
    padding:10px ;
    width:70px;
    height:60px;
    color:black;
    box-shadow: 5px 5px 5px black;
    
}
.a{
    margin-top:10px;
}
input{
    outline-style:none;
}
#equalBtn input{
    width:300px;
}